* {
  margin: 0;
}

.total_calc {
  background-color: #a8a8a8;
  border-radius: 20px;
  /* margin: 100px; */
  width: 300px;
  padding: 10px;
  padding-bottom: 30px;
  margin-inline: auto;
  margin-top: 100px;
}

.inner_display_line {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%s;
  text-align: start;
  border-radius: 10px;
  overflow: hidden;
}

.outer_display_line {
  padding: 8px;
  background-color: #eeeeee;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.clear_button {
  background-color: #feb191;
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  border-style: none;
}

.text_line {
  font-size: 20px;
  background-color: #ddfcff;
  text-align: end;
  padding-block: 20px;
}

.buttons_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 8px;
  text-align: center;
}

.numbers_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 6px;
}

.toggles_card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 6px;
}

.unique_green_toggle {
  background-color: #02ca00;
}

.toggle {
  background-color: #02ca00;
}

button {
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background-color: #cbd6fe;
  margin-top: 5px;
}
